---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { Card } from '@/components/ui/card'
import GradientText from '@/components/animations/GradientText/GradientText'
import { Calendar } from '@lucide/astro'

const posts = await getCollection('blog')
---

<Layout content={{ title: "Blog" }}>
  <section class="max-w-5xl mx-auto mt-20 px-4 flex flex-col items-center">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-10">
      <GradientText
        client:load
        colors={["#40ffaa", "#4079ff", "#40ffaa", "#4079ff", "#40ffaa"]}
        animationSpeed={3}
        className="leading-tight"
      >
        Blog 
      </GradientText>
    </h1>
    <div class="w-full grid gap-8 sm:grid-cols-1 md:grid-cols-2">
      {posts.map((post) => (
        <Card 
          key={post.slug} 
          className="flex items-center gap-6 p-6 shadow-lg  bg-background/80 rounded-xl transition-transform hover:-translate-y-1 hover:shadow-2xl"
        >
          <img 
            src={post.data.avatar} 
            alt={post.data.author} 
            class="w-20 h-20 rounded-full border-4 border-accent shadow-md object-cover"
          />
          <div class="flex-1">
            <a 
              href={`/blog/${post.slug}`} 
              class="text-2xl font-semibold text-primary underline-hover"
            >
              {post.data.title}
            </a>
            <p class="font-medium text-muted-foreground mt-2">{post.data.description}</p>
            <div class="flex items-center mt-3">
              <Calendar class="mr-2 text-accent" />
              <p class="text-sm text-muted-foreground font-bold">{new Date(post.data.date).toLocaleDateString()}</p>
            </div>
          </div>
        </Card>
      ))}
    </div>
  </section>
</Layout>